<script setup lang="ts">
import { useAuthStore } from "@/stores/auth";
const authStore = useAuthStore();
const userString = localStorage.getItem("user");
const user = userString ? JSON.parse(userString) : null;

</script>
<template >
  <v-app-bar style="background-color: #FCEEE2;">

    <!-- <v-row>
      <v-col class="ma-2">

        <v-avatar color="surface-variant" size="40" class="ma-2"> <v-img
            src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg"></v-img>
        </v-avatar> Name : {{ user.name }} {{ user.surname }}
      </v-col>
      <v-col class="ma-2">

      </v-col>
      <v-col class="ma-2 textfield">
        <v-text-field label="Search Cafe" density="compact" variant="solo" append-inner-icon="mdi-magnify" single-line
          hide-details></v-text-field>
      </v-col>
    </v-row> -->
    <template v-slot:extension>
  
        <h2 class="ma-2" style="font-size: 45px;font-family:Verdana, Geneva, Tahoma, sans-serif; color: #695A5B;">Cafe Ari
        </h2>
        <v-tabs class="ma-2"><V-btn class="btn" to="/cafe" >All</V-btn></v-tabs>
        <v-tabs><V-btn class="btn" to="/cafeCheckIn">Check In</V-btn></v-tabs>
        <v-tabs class="ma-2">
          <V-btn class="btn" to="/cafeBakery">Bakery</V-btn>
        </v-tabs>
        <v-tabs class="ma-2" >
          <V-btn class="btn" to="/cafeDrink">Drink</V-btn>
        </v-tabs>
        <v-tabs class="ma-2">
          <V-btn class="btn" to="/cafeEat">Eat</V-btn>
        </v-tabs>
        <v-tabs class="ma-2">
          <V-btn class="btn"  @click="authStore.logout"><v-icon
              icon="mdi-logout-variant"></v-icon>Logout</V-btn>
        </v-tabs>
    </template>


  </v-app-bar>
</template>

<style scoped>
.btn {
  background-color: #FADCDC;
}

/* .btn:focus{
  background-color: #E8ABB5;
} */
.textfield {
  background-color: #FADCDC;
}
</style>
