<script setup lang="ts">
import { useCafelistStore } from '@/stores/cafelist';
import { useFavoriteStore } from '@/stores/favorite';
import { useReviewStore } from '@/stores/review';
import { onMounted, ref } from 'vue';
const cafelistStore = useCafelistStore()
const backendURL = import.meta.env.VITE_BACKEND_URL;
const reviewlistStore = useReviewStore()
const show = ref(false)
const heart = ref(false)
const rating = ref(0)
const FavoriteStore = useFavoriteStore()
const ReviweStore = useReviewStore()
const reveal = ref(false)
onMounted(async () => {
  await cafelistStore.getCafeCategory_ChackIN(4)//id4 CheckIn
});
import FavoriteDialog from './FavoriteDialog.vue';
import ReviewListCafe from './ReviewListCafe.vue';
</script>
<template>
  <FavoriteDialog></FavoriteDialog>
  <ReviewListCafe></ReviewListCafe>
  <v-container>
    <v-row>
      <v-col>
        <v-container class="col">
          <v-row>
            <v-col cols="4" v-for="(item, index) of cafelistStore.cafalistCheckIn" :key="index">
              <v-card style="background-color: #E8ABB5; width:350px; height: 550px;">
                <v-container>
                  <v-card style="; width:auto; height: 520px;">
                    <v-img :src="`http://localhost:3000/cafe/image/${item.cafe.image}`" height="200px" cover>
                    </v-img>
                    <v-card-title style="font-weight: bold;">
                      {{ item.cafe.cafename }}
                      <v-btn icon="mdi-heart-circle" variant="text" style="font-size: 30px;color: #ff5e78;"
                        class="align-content-end" @click="FavoriteStore.dialog=true,FavoriteStore.clickFavorite(item.cafe)"></v-btn>
                    </v-card-title>
                    <v-card-text>
                      {{ item.cafe.description }}
                      <br>ประเภท: {{ item.category.name }} <br><v-spacer></v-spacer>
                      <v-rating :model-value="item.cafe.srore" color="amber" density="compact" half-increments readonly
                        size="small"></v-rating>

                      <v-btn :icon="show ? 'mdi-chevron-up' : 'mdi-chevron-down'" @click="show = !show, reveal = false"
                        variant="text"></v-btn>
                    </v-card-text>
                    <v-expand-transition>
                      <div v-show="show">
                        <v-divider></v-divider>
                        <v-card-text>
                          โลเคชั่น: {{ item.cafe.location }}
                          <v-btn variant="text" color="amber"
                            @click="reveal = !reveal, reviewlistStore.getReviewListByCafe(item.id!),reviewlistStore.clickReview(item)">ดูรีวิว</v-btn>
                        </v-card-text>
                      </div>
                    </v-expand-transition>
                  </v-card>
                </v-container>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col></v-row>
  </v-container>
</template>

<style scoped>
.col {
  height: 550px;
  overflow-y: auto;
}</style>