<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useAuthStore } from "@/stores/auth";
import { useUserStore } from "@/stores/user";
import router from "@/router";
const userStore = useUserStore()
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);

const reset = () => {
  form.value?.reset();
};

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await userStore.saveUser();
  }
}

const show1 = ref(false)

</script>


<template>
  <v-app>
    <v-main style="background-color: #E7D8C9;">
      <br><br>
      <v-card width="600px" class="mx-auto ">
        <br>
        <h1 style="text-align: center;">Create new account</h1>

        <v-card-text>
          <v-form ref="form" v-model="valid">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field label="Username" v-model="userStore.editedUser.username"
                    prepend-inner-icon="mdi-account-circle" :rules="[
                      (v) => !!v || 'Username is required',
                    ]" required></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col> <v-text-field label="Name" v-model="userStore.editedUser.name"
                    :rules="[
                      (v) => !!v || 'Name is required',
                    ]" required></v-text-field>

                </v-col>
                <v-col>
                  <v-text-field label="Surname" v-model="userStore.editedUser.surname"
                    :rules="[
                      (v) => !!v || 'Surname is required',
                    ]" required></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-text-field label="Email" v-model="userStore.editedUser.email" prepend-inner-icon="mdi-email-outline"
                    :rules="[
                      (v) => !!v || 'Email is required', (v) =>
                        /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
                        'Email is not valid!!',
                    ]" required></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field label="Phone" v-model="userStore.editedUser.phone"
                    prepend-inner-icon="mdi-phone" :rules="[
                      (v) => !!v || 'Phone is required',
                    ]" required></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                   <v-text-field label="Password" :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show1 ? 'text' : 'password'" prepend-inner-icon="mdi-key" v-model="userStore.editedUser.password"
              :rules="[
                (v) => !!v || 'Password is required',
                (v) =>
                  v.length >= 8 ||
                  'Password must be more than or equal 8 characters',
              ]" required @click:append="show1 = !show1"></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn style="background-color: #E8ABB5;" @click="save">Create</v-btn>
          <v-btn color="error" @click="reset">Clear</v-btn>
        </v-card-actions>
        <v-card-text class="text-center text-decoration-none">

        </v-card-text>

      </v-card>

    </v-main>
  </v-app>
</template>
