<script setup lang="ts">
import { useCafelistStore } from '@/stores/cafelist';
import { ref } from 'vue';
import type { VForm } from "vuetify/components";

const cafelistStore = useCafelistStore()
const form = ref<VForm | null>(null);

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await cafelistStore.saveCafe()
  }
}
</script>
<template>
  <v-dialog v-model="cafelistStore.dialog" persistent width="1000">
    <v-card>
      <v-container style="background-color: #ff5e78"><v-row>
          <v-col style="font-size: 50px; text-align: center; color: aliceblue">Cafe
          </v-col></v-row></v-container>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field label="NameCafe*" required v-model="cafelistStore.editedCafe.cafename" :rules="[
                  (v) => !!v || 'โปรดระบุชื่อ Cafe',
                  (v) => v.length >= 3 || 'ความยาวไม่น้อยกว่า 3',
                ]"></v-text-field>
              </v-col>
            
              <v-col cols="6">
                  <v-textarea label="Description" required v-model="cafelistStore.editedCafe.description"
                  :rules="[(v) => !!v || 'โปรดระบุ Description']"></v-textarea>
              </v-col>
              <!-- <v-col cols="12">
                <v-text-field label="Location*" required v-model.number="cafelistStore.editedCafe.location"
                  :rules="[(v) => !!v || 'โปรดระบุ Location']"></v-text-field>
              </v-col> -->
              <v-col cols="6">
                <v-textarea  label="Location*" required v-model="cafelistStore.editedCafe.location"
                  :rules="[(v) => !!v || 'โปรดระบุ Location']"></v-textarea>
              </v-col>
              <v-col cols="6">
                <v-combobox :v-model="cafelistStore.editedCategory.name" :items="['Chack In', 'Drink', 'Eat', 'Bakery']"
                  label="หมวดหมู่" chips multiple></v-combobox>
              </v-col>
              <!-- <v-col>
                <v-select :items="['Chack In', 'Drink', 'Eat', 'Bakery']" label="หมวดหมู่" required
                  v-model="cafelistStore.editedCategory.name"></v-select>
              </v-col> -->
              <v-col cols="6"><v-file-input v-model="cafelistStore.editedCafe.files" accept="image/*" label="Image">
                </v-file-input></v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*ระบุช่องที่ต้องการกรอก</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn style="font-size: 20px; background-color: #d93d44; color: aliceblue" variant="text"
          @click="cafelistStore.dialog = false">
          ยกเลิก
        </v-btn>
        <v-btn style="font-size: 20px; background-color: #388e3c; color: aliceblue" variant="text" @click="save">
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style scoped></style>