<script setup lang="ts">
import { useAuthStore } from '@/stores/auth';
import { useFavoriteStore } from '@/stores/favorite';
import { onMounted } from 'vue';
const authStore = useAuthStore();
const userString = localStorage.getItem("user");
const user = userString ? JSON.parse(userString) : null;

const FavoriteStore = useFavoriteStore()

onMounted(async () => {
  await FavoriteStore.getFavoriteByUser(user.id)
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-container class="col">
          <v-row>
            <v-col cols="4" v-for="(item, index) of FavoriteStore.Favorite" :key="index">
              <v-card style="background-color: #E8ABB5; width:auto; height: auto;">
                <v-container>
                  <v-card>

                    <v-card-actions>
                      <v-spacer></v-spacer>

                      <v-btn icon>
                        <v-icon style="font-size: 30px;color: #ff5e78;">mdi-heart</v-icon>
                      </v-btn>

                    </v-card-actions>
                 
                    <v-img :src="`http://localhost:3000/cafe/image/${item.cafe?.image}`" height="200px" cover></v-img>
                    <v-card-title>
                      ชื่อcafe : {{ item.cafe?.cafename }}
                    </v-card-title>
                    <v-card-subtitle>
                      {{ item.cafe?.description }}

                    </v-card-subtitle>
                    <v-spacer></v-spacer>
                    <v-card-text>
                      <v-row align="center" class="mx-0">
                        <v-rating :model-value="item.cafe?.srore" color="amber" density="compact" half-increments readonly
                          size="small"></v-rating>
                        <!-- <v-btn :icon="show ? 'mdi-chevron-up' : 'mdi-chevron-down'" @click="show = !show"
                          variant="text"></v-btn> -->
                      </v-row>
                    </v-card-text>
                  </v-card>
                </v-container>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col></v-row>
  </v-container>
</template>

<style scoped></style>