<script setup lang="ts">
import { useFavoriteStore } from '@/stores/favorite';

const FavoriteStore = useFavoriteStore()
</script>
<template>
  <v-container>
    <v-dialog
        transition="dialog-bottom-transition"
        width="auto"
        v-model="FavoriteStore.dialog"
      >
        <template v-slot:default="{ isActive }">
          <v-card>
            <v-toolbar
              color="#ff5e78"
              title="ยืนยันร้านโปรด"
              style="color: aliceblue; font-size: 30px;"
            ></v-toolbar>
            <v-card-text>
              <div class="text-h2 pa-12">{{ FavoriteStore.clickFavoriteCafe.cafename }}</div>
            </v-card-text>
            <v-card-actions class="justify-end">
              <v-btn
                variant="text"
                @click="isActive.value = false"
              >Close</v-btn>

              <v-btn
                variant="text"
              @click="FavoriteStore.SaveReview()">Save</v-btn>
            </v-card-actions>
          </v-card>
        </template>
      </v-dialog>
  </v-container>
</template>