<script setup lang="ts">
import { useCafelistStore } from '@/stores/cafelist';
import DialogCafe from './DialogCafe.vue';
import { onMounted } from 'vue';

const cafelistStore = useCafelistStore()
onMounted(async () => {
  await cafelistStore.getCafe()
});
</script>
<template>
  <DialogCafe></DialogCafe>
  <v-container>  
    <v-row class="ma-2">
    
      <v-col cols="12">
        <v-table fixed-header height="500px">
          <thead>
            <tr>
              <th style="text-align: center">imgCafe</th>
              <th style="text-align: center">Cafename</th>
              <th style="text-align: center">Description</th>
              <th style="text-align: center">Location</th>
              <th style="text-align: center">Score</th>
              <th style="text-align: center"></th>
              <th><v-btn
                @click="cafelistStore.dialog=true"
          class="ma-1"
          style="background-color:blueviolet; color: aliceblue"
          ><v-icon
                    class="ma-2">mdi-plus</v-icon>เพิ่มคาเฟ่</v-btn
        ></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of cafelistStore.cafaAll" :key="item.id" >
              <td>
                <v-img :src="`http://localhost:3000/cafe/image/${item.image}`"></v-img>
              </td>
              <td style="text-align: center">{{ item.cafename }}</td>
              <td style="text-align: center ;width: 200px;
              height: 50px;">{{ item.description }}</td>
              <td style="text-align: center ; width: 200px;
              height: 50px;">{{ item.location }}</td>
              <td style="text-align: center"> {{ item.srore }}</td>
              <td></td>
              <td>
                <v-btn class="mr-5 btnEdit"  @click="cafelistStore.editCafe(item)"><v-icon
                    class="ma-2">mdi-pencil-box-multiple-outline</v-icon>แก้ไข</v-btn>
                    <v-btn class="btnDel"  @click="cafelistStore.deleteCafe(item.id!)"><v-icon
                    class="ma-2"> mdi-trash-can-outline</v-icon>ลบ</v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
        <ConfirmDialog ref="confirmDialog"></ConfirmDialog>
      </v-col>
    </v-row></v-container>
</template>
<style scoped>
.btnEdit {
  background-color: #4a4b4a;
  color: aliceblue;
}

.btnDel {
  background-color: #d93d44;
  color: aliceblue;
}
</style>