<script setup lang="ts">
import { useReviewStore } from '@/stores/review';
import { ref } from 'vue';
import type Cafe from "@/types/Cafe";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const reviewlistStore = useReviewStore()
const rating = ref(0)
async function send() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await reviewlistStore.SaveReview()
  }
}

const reset = () => {
  form.value?.reset();
};
</script>

<template>
  <v-dialog v-model="reviewlistStore.dialog" persistent width="500">
    <v-card class="ma-2" elevation="3" outlined tile>
      <v-container>
        <v-row>
          <v-col style="height: 450px; overflow-y: auto;">
            <v-card v-for="(item, index) of reviewlistStore.reviewlistbycafe" :key="index" class="ma-5" elevation="5">

              <v-container>
                <v-row>
                  <v-col>
                    <v-card-text style="font-size: 20px;">{{ item.review?.message }}</v-card-text>
                    <!-- <v-card-title>{{ item.review?.message }}</v-card-title> -->
                    <v-card-title><v-rating :model-value="item.review?.srore" color="amber" density="compact"
                        half-increments readonly size="small"></v-rating></v-card-title>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>

          </v-col>
        </v-row>

      </v-container>
      <v-divider></v-divider>
      <v-form ref="form">
        <v-card-actions>คะเเนนรีวิว:
          <v-rating v-model="reviewlistStore.editReview.srore" background-color="green lighten-3" color="green" large></v-rating>
        </v-card-actions>
        <v-card-actions><v-text-field label="Comment" required bg-color="#FADCDC" :append-icon="'mdi-send-circle'"
            @click:append="send()"  :rules="[(v) => !!v || 'โปรดระบุ Review']" v-model="reviewlistStore.editReview.message"></v-text-field></v-card-actions>
      </v-form>


      <v-divider></v-divider>
      <v-card-actions>

        <v-spacer></v-spacer>
        <v-btn color="primary" @click="reviewlistStore.dialog = false,reset">
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>