<script setup lang="ts">
import { useAuthStore } from '@/stores/auth';
import { useReviewStore } from '@/stores/review';
import { onMounted, ref } from 'vue';

const authStore = useAuthStore();
const userString = localStorage.getItem("user");
const user = userString ? JSON.parse(userString) : null;
const ReviweStore = useReviewStore()

onMounted(async () => {
  await ReviweStore.getReviewByUser(user.id)
});
</script>
<template>
  <v-container>
    <v-row>
      <v-col style="background-color: #ffff" class="ma-3">

        <v-container>
          <div style="background-color: #ff5e78">
            <h2 style="text-align: center; color: aliceblue">รีวิวของฉัน</h2>
          </div>
          <v-row>
            <v-col class="col">
              <v-card class="pa-1 ma-2" elevation="3" outlined tile v-for="(item, index) of ReviweStore.reviewbyuser"
                :key="index">
                <v-card-title> {{ item.user?.name }}</v-card-title>
                <!-- <v-card-subtitle>{{ item.message }} <br><v-rating :model-value="item.srore" color="amber"
                    density="compact" half-increments readonly size="small"></v-rating></v-card-subtitle> -->
                <v-card-text style="font-size: 15px;">{{ item.message }} <br><v-rating :model-value="item.srore" color="amber" density="compact"
                    half-increments readonly size="small"></v-rating></v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped></style>