<script setup lang="ts">
import { useCafelistStore } from '@/stores/cafelist';
import { onMounted } from 'vue';
const cafelistStore =useCafelistStore()
const backendURL = import.meta.env.VITE_BACKEND_URL;
const iditem=cafelistStore.iditem
//ต้อเงเก็ทมา
onMounted(async () => {
  // await cafelistStore.getCafe()
 // await cafelistStore.getCafeCategory_ChackIN(1)//id1 CheckIn
});
</script>
<template>
  <v-container class="col">
    <v-row>
      <v-col v-for="(item,index) of cafelistStore.cafalistDataItem"
                :key="index">{{ item.cafename}}
      </v-col></v-row>
  </v-container>
</template>

<style scoped>
.col {
  height: 550px;
  overflow-y: auto;
}
</style>