<script setup lang="ts">
import { onMounted, ref } from "vue";
import type { VForm } from "vuetify/components";
import { useAuthStore } from "@/stores/auth";
import { useUserStore } from "@/stores/user";
const authStore = useAuthStore();
const userStore=useUserStore()
const loginName = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    authStore.login(loginName.value, password.value);
  }
};
const reset = () => {
  form.value?.reset();
};

const show1=ref(false)

/* onMounted(async () => {
  await userStore.getUsers()
}); */
</script>


<template>
  <v-app>
    <v-main style="background-color: #E7D8C9;">
      <br><br><br><br><br><br><br>
      <v-card width="400px" class="mx-auto ">
        <br>
        <h1 style="text-align: center;">Welcome</h1>

        <v-card-text>
          <v-form ref="form" v-model="valid">
            <v-text-field label="Username" v-model="loginName" prepend-inner-icon="mdi-account-circle" :rules="[
              (v) => !!v || 'Username is required',
            ]" required></v-text-field>
            <v-text-field label="Password"  :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :type="show1 ? 'text' : 'password'" prepend-inner-icon="mdi-key" v-model="password" :rules="[
              (v) => !!v || 'Password is required',
              (v) =>
                v.length >= 8 ||
                'Password must be more than or equal 8 characters',
            ]" required
             @click:append="show1 = !show1"></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn style="background-color: #E8ABB5;" @click="login">Login</v-btn>
          <v-btn color="error" @click="reset">Clear</v-btn>
        </v-card-actions>
        <v-card-text class="text-center text-decoration-none">
        <a
          style="color: #E8ABB5;"
          to="/createuser"
          target="_blank"
          href="/createuser"
        >
          Create new account  <v-icon icon="mdi-chevron-right"></v-icon>
        </a>
      </v-card-text>
      </v-card>

    </v-main>
  </v-app>
</template>
