<script setup lang="ts">
//import { useAuthStore } from "@/stores/auth";
import { ref } from "vue";
import { RouterView } from "vue-router";

//const loginStore = useAuthStore();

const theme = ref("light");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
// const logout = () => {
//   loginStore.logout();
// };
</script>

<template>
  <v-layout>
    <v-app-bar></v-app-bar>
  </v-layout>
</template>
