<script setup lang="ts">
import { useAuthStore } from "@/stores/auth";
const authStore = useAuthStore();
const userString = localStorage.getItem("user");
const user = userString ? JSON.parse(userString) : null;
// const role = localStorage.getItem("role"); //"Admin"
const role = user.role
</script>
<template>
  <v-navigation-drawer expand-on-hover rail location="left" theme="dark" permanent>
    <v-list-item
      prepend-avatar="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg">
      <v-list-item-content>
        <v-list-item-title>{{ user.name }} {{ user.surname }}</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <v-divider></v-divider>
    <!-- member -->
    <v-list density="compact" nav>
      <!-- hidden ซ่อน true -->

      <div><v-list-item prepend-icon="mdi-heart" title="รายการโปรด" value="fav" to="/favarite"></v-list-item></div>
      <div><v-list-item prepend-icon="mdi-star" title="รีวิวของฉัน" value="menu" to="/review"></v-list-item></div>
      <div :hidden="role === 'member' ? true : false">
        <v-list-item prepend-icon="mdi-cog" title="จัดการคาเฟ่" value="menu" to="/managecafe"></v-list-item>
      </div>



    </v-list>



  </v-navigation-drawer>
</template>
